.profileInfo {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 50px;
   padding: 20px;
}
.ava_big {
   max-height: 200px;
}

.description {
   padding: 10px;
}
.contact {
   padding-left: 10px;
}