.header {
  grid-area: header;
  background-color: rgb(144, 214, 216);
  /* border-radius: 20px; */

 }
.header img {
  padding: 5px;
  width: 50px;
}
.loginBlock {
  float: right;
  align-items: center;
  margin-right: 30px;
}
.loginBlock a {
  text-decoration: none;
  color: aliceblue;
  line-height: 60px;
}