.header {
  background-color: rgb(144, 214, 216);
  /* border-radius: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 }
.header img {
  padding: 5px;
  width: 50px;
}
.loginBlock {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.userName{
  font-size: 20px;
}
.loginBlock a {
  text-decoration: none;
  color: aliceblue;
  line-height: 60px;
}
.logoutBtn {
  padding: 3px;
}